infrastructure/locals.tf
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/.terraform.tfstate.lock.info
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
.pytest_cache
poetry.lock
